body {
    overflow: hidden;
}

#app {
    overflow: auto;
    height: 100vh;
}


#app .progress.fixed {
    top: 0;
    position: fixed;
    margin: 0;
    z-index: 100;
}

#app .card .card-image {
    max-height: 30%;
}
